{erl_opts, [
%%     {d, 'BT_TEST', "transform"},    %　打开输出forms到文件, 默认路径为"transforms"
    debug_info,
    warnings_as_errors
]}.

{erl_first_files, ["src/ebt_node.erl", "src/ebt_transform.erl"]}.

{clean_files, ["transform/*.txt"]}.

{deps, [
    {meck, {git, "https://github.com/eproxus/meck.git", {branch, "master"}}}
]}.


%% == xref ==
{xref_warnings, false}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
%%     exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.